@font-face {
  font-family: Patty;
  src: url(./assets/patsy_sans/PatsySans.otf);
}
.App {
  font-family: Patty !important;
  background-image: url(./assets/main-images.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #ffffff;
}
nav {
  height: 13vh;
}
#connect-wallet-btn,
.soc-icos {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    #5b68d8 0%,
    #bd25d8 100%
  ) !important;
  transition: all ease 2s;
}
#connect-wallet-btn:hover,
.soc-icos:hover {
  background-color: transparent !important;
  background-image: linear-gradient(
    180deg,
    #bd25d8 0%,
    #5b68d8 100%
  ) !important;
  transition: all ease 2s !important;
}
#connect-wallet-btn {
  font-family: Poppins;
}
h2#bold-name {
  color: #ffffff;
  font-size: 8.2vw !important;
  font-weight: 600 !important;
  font-style: normal !important;
  -webkit-text-stroke: 2.5px;
  -webkit-text-stroke-color: currentcolor;
  stroke-width: 2.5px;
  -webkit-text-stroke-color: #c72bbd;
  stroke: #c72bbd;
}
h3#makes-great {
  font-size: 3rem !important;
  font-weight: 600 !important;
  font-style: normal !important;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: currentcolor;
  stroke-width: 0.5px;
  -webkit-text-stroke-color: #c72bbd;
  stroke: #c72bbd;
}
h3 span {
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: currentcolor;
  -webkit-text-stroke-color: #4e70db;
  stroke: #4e70db;
  stroke-width: 0.5px;
}
/* section.part2 {
  background-image: url(./assets/main-Bg.png);
  transform: rotate(360deg);
  background-size: cover;
  background-repeat: no-repeat;
 
  position: relative;
  height: 100vh;
  z-index: -2;

} */
.card {
  background: #362c4685 !important;
  border-style: solid !important;
  border-radius: 20px !important;
  border-width: 2px !important;
  min-height: 134.2px !important;
  height: 100%;
  border-color: #ffffff !important;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s !important;
  /* margin: 0px 10px 0px 10px; */
}
.card:hover {
  background-color: #5b68d8 !important;
}
/* btn-colors */
#common {
  background: #d8258a;
  border-radius: 15px !important;
}
#uncommon {
  background: #bd25d8;
  border-radius: 15px !important;
}
#rare {
  background: #6425d8;
  border-radius: 15px !important;
}
#super-rare {
  background: #3323cd !important;
  border-radius: 15px !important;
}
#legendary {
  background: #d87925 !important;
  border-radius: 15px !important;
}

/* accordion */

div.accordion-body {
  font-family: Poppins;
  border-radius: 0 0 15px 15px;
}
div.accordion-item {
  background: transparent;
  border-radius: 20px !important;
}
button.accordion-button {
  border-radius: 15px 15px 0 0 !important;
}
button.collapsed {
  border-radius: 15px !important;
  background-color: #362c4685;
  color: #ffffff;
}
button.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #5b68d8;
}
button.accordion-button:focus {
  outline: none;
  box-shadow: none;
}
